.carousel {
    position: relative; 
    height: 55vh;
    width: 45vw;
    min-width: 35vh;
    min-height: 35vh;

    margin: 2vh;
}

.slide {
    position: absolute;
    background-color: black;
    inset: 0;
    padding: 7% 10%;
    transition: 2s opacity ease-in-out;
}

.slide img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide img[data-active] {
    display: block;
}

.carousel-img {
    animation-name: ease-in-out;
    animation-duration: 1s;
  }

@keyframes ease-in-out {
    from {opacity: .4}
    to {opacity: 1}
  }

   
.control {
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    padding: 0 1.3vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.control img {
    width: 8%;
    filter: invert(58%) sepia(17%) saturate(43%) hue-rotate(236deg) brightness(88%) contrast(88%);
}

.control img:hover,
.control img:focus {
    filter: invert(99%) sepia(0%) saturate(7222%) hue-rotate(302deg) brightness(126%) contrast(85%);
    cursor: pointer;
}

.dots {
    position: absolute;
    top: 92%;
    left: 0;
    right: 0;
    padding: 1vh 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.dot {
    padding: 0 .3vh;
    width: 1.3%;
    filter: invert(58%) sepia(17%) saturate(43%) hue-rotate(236deg) brightness(88%) contrast(88%);
  }

  .dot:hover,
  .dot:focus {
    filter: invert(99%) sepia(2%) saturate(350%) hue-rotate(31deg) brightness(112%) contrast(84%);    
    cursor: pointer
  }

  .active {
    filter: invert(99%) sepia(2%) saturate(350%) hue-rotate(31deg) brightness(112%) contrast(84%);

  }

